<!DOCTYPE html>
<html>
<head>
    <title>Ustream OAuth Demo</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="container">
        <h1>Your Ustream Channels</h1>

        {{#if success}}
            <ul class="channel-list">
                {{#each channels}}
                    <li>
                        <a href="{{url}}" target="_blank">{{title}}</a>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <h4>Failed to load your channels</h4>
        {{/if}}
    </div>
</body>
</html>