<!DOCTYPE html>
<html>
<head>
    <title>Ustream OAuth Demo</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="container">
        <h1>Your Ustream Channels</h1>

        {{#if success}}
            <ul class="channel-list">
                {{#each channels}}
                    <li>
                        <a href="{{url}}" target="_blank">{{title}}</a>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <h4>Failed to load your channels. Oauth credentials are either invalid or missing.</h4>
        {{/if}}

        <div>
            <a href="/" class="action-link">Back to demo</a>
            <a href="https://github.com/MichaelJamesParsons/ustream-nodejs-oauth-example">View the code</a>
        </div>
    </div>
</body>
</html>