<!DOCTYPE html>
<html>
<head>
    <title>Ustream OAuth Demo</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="container">
        <h1>Ustream OAuth Demo</h1>
        <a href="{{endpoint}}"
           class="action-link">Sign in with Ustream</a>
    </div>
</body>
</html>