<!DOCTYPE html>
<html>
<head>
    <title>Ustream OAuth Demo</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="container">
        <h1>Ustream OAuth Demo</h1>
        <a href="{{implicit_flow_endpoint}}" class="action-link">Implicit flow</a>
        <a href="{{auth_code_flow_endpoint}}" class="action-link">Auth code flow</a>

        <div>
            <a href="https://github.com/MichaelJamesParsons/ustream-nodejs-oauth-example">View the code</a>
        </div>
    </div>
</body>
</html>