html, body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 30px;
}

a {
    color: #cc2266;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 600px;
}

.action-link {
    color: #fff;
    padding: 1rem 1.4rem;
    text-decoration: none;
    background-color: #cc2266;
    border: none;
    outline: none;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

.action-link:hover {
    background-color: #a91560;
    text-decoration: none;
}

.channel-list {
    list-style: none;
    padding: 0;
}

.channel-list a {
    color: #000;
    text-align: left;
    text-decoration: none;
    padding: 1rem 1.4rem;
    border-left: 5px solid #cc2266;
    background-color: #f3f3f3;
    margin-bottom: 5px;
    display: block;
    -webkit-transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

.channel-list a:hover {
    background-color: #e8e8e8;
}